use asdf

layout python3

dotenv

# export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION="python"  # for protobuf
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/home/$USER/.mujoco/mujoco210/bin:/usr/lib/nvidia"  # for mujoco

mkdir -p ./experiments
mkdir -p ./data
export EXP_DIR=./experiments
export DATA_DIR=./data
export CUDA_VISIBLE_DEVICES=0
